<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.eurekauserclient.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.sc.eurekauserclient.pojo.User">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="age" property="age" />
        <result column="city_id" property="cityId" />
    </resultMap>

    <parameterMap id="City" type="com.sc.eurekauserclient.pojo.User"/>

    <sql id="Base_Column_List">
        id, name, age, city_id
    </sql>

    <select id="findByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from user
        where name = #{name}
    </select>

</mapper>